@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Dosis';
    src: url('/Dosis-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    @apply bg-white dark:bg-black text-black dark:text-white;
}

nav, main{
    @apply max-w-3xl m-auto p-3;
}

.display{
    font-family: 'Dosis', sans-serif;
}

.home-article{
    @apply px-3 py-4 md:w-1/2 max-w-[450px] m-auto;
}

.home-article > ul > li{
    @apply py-1;
}

.thumbnail{
    @apply m-auto max-w-[320px] aspect-video relative flex justify-center items-end;
}

.thumbnail > p{
    @apply p-3 relative z-10 invisible;

}

.thumbnail:hover > p{
    @apply visible;
} 

.thumbnail > img{
    @apply rounded-lg opacity-60 md:opacity-100 md:hover:opacity-60 border absolute;
    transition: .5s ease;
}
